rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function
    function isValidExam(data) {
      return data.title is string && data.subject is string;
    }

    match /exams/{examId} {
      allow read, write: if true;
    }

    match /students/{studentId} {
      allow read, write: if true;
    }

    match /scanResults/{resultId} {
      allow read, write: if true;
    }

    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
